<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dana CV</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .font-roboto {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-500 min-h-screen p-6 font-roboto">
    <div class="max-w-4xl mx-auto bg-white p-8 shadow-lg rounded-lg">
        <div class="text-center mb-8">
            <div class="flex justify-center mb-4">
<!--                {%load static%}-->
                <img class="rounded-full h-40 w-40 border-4 border-gray-300 hover:scale-105 transition-transform duration-300" src="{%static 'images/IMG_20221222_221353_405.jpg' %}" alt="Profile Picture">
            </div>
            <h1 class="text-4xl font-bold text-gray-800 mb-2">Dana Karimi</h1>
            <a href="https://danak1382@gmail.com"><p class="text-gray-600"><i class="fas fa-envelope text-gray-500 mr-2"></i>danak1382@gmail.com</p></a>
            <p class="text-gray-600"><i class="fas fa-phone text-gray-500 mr-2"></i>(+98)9128949744</p>
            <p class="text-gray-600"><i class="fas fa-map-marker-alt text-gray-500 mr-2"></i>Abkohe 4,West Lavasani,Farmanie,Tehran,Iran</p>
            
<!--            {%load static%}-->
            <a href="https://github.com/DanaKarimi"><button class="mx-auto"><img class="h-10 w-10 border-1 border-gray-300 hover:scale-105 transition-transform duration-300" src="{%static 'images/icons8-github-100.png' %}" alt="github"/></button></a>
<!--            {%load static%}-->
            <a href="https://www.instagram.com/dd.karimi?igsh=emxncjNlcXJld3o1"><button class="mx-auto"><img class="h-10 w-10 border-1 border-gray-300 hover:scale-105 transition-transform duration-300" src="{%static 'images/icons8-instagram-100.png' %}" alt="instagram"/></button></a>
<!--            {%load static%}-->
            <a href="https://t.me/DD_KARIMI"><button class="mx-auto"><img class="h-10 w-10 border-1 border-gray-300 hover:scale-105 transition-transform duration-300" src="{%static 'images/icons8-telegram-logo-100.png' %}" alt="telegram"/></button></a>
<!--            {%load static%}-->
            <a href="https://www.linkedin.com/in/dana-karimi-5394a1179/"><button class="mx-auto"><img class="h-10 w-10 border-1 border-gray-300 hover:scale-105 transition-transform duration-300" src="{%static 'images/icons8-linkedin-100.png' %}" alt="linkedin"/></button></a>


        </div>

        <div class="mb-8">
            <h2 class="text-2xl font-semibold text-gray-800 border-b-2 border-gray-300 pb-2 mb-4">Personal Summary</h2>
            <p class="text-gray-700 text-lg">As a passionate junior student studying software development, I’m excited to build on my knowledge and gain practical experience. My studies have given me a strong foundation in programming and software design. I’m eager to apply these skills to real projects and find innovative solutions. I’m committed to learning and growing professionally, and I’m looking for opportunities to work with experienced professionals, solve challenging problems, and improve my technical skills. My aim is to use my enthusiasm and dedication to contribute to a dynamic team while enhancing my expertise in software development.</p>
        </div>

        <div class="mb-8">
            <h2 class="text-2xl font-semibold text-gray-800 border-b-2 border-gray-300 pb-2 mb-4">Education</h2>
            <ul class="list-none pl-0">
                <li class="mb-4">
                    <strong class="block text-lg text-gray-600">Diploma in Mathematics and Physics, Salam Tajrish High School</strong>
                    <span class="block text-gray-600">Graduated: 2021</span>
                </li>
                <li class="mb-4">
                    <strong class="block text-lg text-gray-600">Currently studying Computer Engineering at Islamic Azad University, North Tehran Branch</strong>
                </li>
            </ul>
        </div>

        <div class="mb-8">
            <h2 class="text-2xl font-semibold text-gray-800 border-b-2 border-gray-300 pb-2 mb-4">Projects</h2>
            <ul class="list-disc list-inside text-gray-700 text-lg">
                <li><a href="https://github.com/DanaKarimi">GitHub</a></li>
            </ul>
        </div>

        <div class="mb-8">
            <h2 class="text-2xl font-semibold text-gray-800 border-b-2 border-gray-300 pb-2 mb-4">Skills</h2>
            <ul class="list-disc list-inside text-gray-700 text-lg">
                <li>Programming Languages: Python, Java, C++</li>
                <li>Web Technologies: HTML, CSS, Tailwind CSS, JavaScript</li>
                <li>Databases: MySQL, Sqlite3</li>
                <li>Tools: Git, Vscode, Pycharm</li>
            </ul>
        </div>

        <div>
            <h2 class="text-2xl font-semibold text-gray-800 border-b-2 border-gray-300 pb-2 mb-4">Work Experience</h2>
            <ul class="list-none pl-0">
                <li class="mb-6">
                    <strong class="block text-lg text-gray-600"></strong>
                    <span class="block text-gray-600"></span>
                    <ul class="list-disc list-inside mt-2 text-gray-700">
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
